<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" max-width="1000" style="background-color: #fda487">
    <v-img
      class="align-end text-white"
      height="200"
      src="https://scontent.futp1-1.fna.fbcdn.net/v/t1.6435-9/83699257_2284567534978323_6496800198897958912_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_ohc=NarVuyO48gcAX89GnEj&_nc_ht=scontent.futp1-1.fna&oh=00_AfCF38s5Bg7bbHQH1Q-Fjt0Ckx1qYkRNCZ8P2gIjPqPfUw&oe=63C3FDD1"
    >
    </v-img>

    <v-card-text>
      <div>
        <h2>Portfolio</h2>
      </div>
      <div>ชื่อ - นามสกุล : หทัยภัทร รับรอง</div>
      <div>ประวัติการศึกษา :</div>
      <v-container>
        <v-row class="justify-center">
          <v-col>
            <v-table
              ><thead>
                <tr class="justify-center">
                  <th>ระดับปฐมวัย</th>
                  <th>ระดับประถมศึกษา</th>
                  <th>ระดับมัธยมศึกษาตอนต้น</th>
                  <th>ระดับมัธยมศึกษาตอนปลาย</th>
                  <th>ระดับมหาวิทยาลัย</th>
                </tr>
              </thead>
              <tbody>
                <tr class="justify-center">
                  <td>โรงเรียนศรีสุวิช</td>
                  <td>โรงเรียนศรีสุวิช</td>
                  <td>โรงเรียนเซนปอลคอนแวนต์</td>
                  <td>โรงเรียนเมืองพัทยา 11 (มัธยมสาธิตพัทยา)</td>
                  <td>มหาวิทยาลัยบูรพา</td>
                </tr>
              </tbody></v-table
            >
          </v-col>
        </v-row>
      </v-container>
      <div>สิ่งที่สนใจ :ดนตรี</div>
    </v-card-text>
  </v-card>
</template>
